
}

.header-wrapper{

}
.body-wrapper{

}
.footer-wrapper{

}
.clearfix::after,.clearfix::before{
	content:"";
	clear:both;
	display:table;
}
.main-container{
/*max-width:50em;*/
/*overflow:hidden;*/
background-color:blue;
}
.container{
	/*width:50%;*/
	width:100%;
	/*overflow:hidden;*/
	/*overflow:hidden;*/
	position:relative;
	overflow:hidden;
/*	left:10%;
	top:20%;*/
	background-color: green;
	border:3px solid black;
/*	position:relative;*/
}
.wrapper{
	overflow:hidden;
/*	position:absolute;*/
	width:1600%
/*	width:300%;*/
/*	overflow:auto;*/
/*	position:relative;*/
/*	position:absolute;
	left:100px;*/
	
}
.img-define{
	overflow:hidden;
	/*width:1000px;*/
	/*width:20%;*/
	float:left;
/*	height:400px;*/
	
}
.wrapper img{
	overflow:hidden;
	/*width:1000px;*/
	/*display:block;*/
	/*width:1000px;*/
/*display:inline-block;*/
/*width:10%;*/


}
/*@media only screen and (max-width: 998px) {

    .img-define{
    	width:800px;
    }
    .wrapper img{
    	width:800px;
    }


}
@media only screen and (max-width: 600px) {

    .img-define{
    	width:400px;
    }
    .wrapper img{
    	width:400px;
    }


}

@media only screen and (max-width: 400px) {

    .img-define{
    	width:200px;
    }
    .wrapper img{
    	width:200px;
    }


}*/


